# VLLINK Basic2 CMSIS-DAP v2, as identified on this computer.
source [find interface/cmsis-dap.cfg]
cmsis-dap backend usb_bulk
cmsis-dap vid_pid 0x1209 0x6666
cmsis-dap usb interface 0
adapter serial Vllink.Basic2.CA07B27476
transport select swd
source [find target/stm32f4x.cfg]
adapter speed 1000
reset_config none
